body {
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    font-weight: 700;
}

/* h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
} */

#headerSearchBox {
    background: transparent;
    box-shadow: none;
}

#headerBottom {
    flex-wrap: wrap;
    justify-content: center;
}

.customTitle {
    font-size: 250%;
}

.customSubtitle {
    font-size: 200%;
}

.banner-img {
    position:absolute;
    z-index: -3;
    width:100%;
    height: 390px;
    object-fit: cover;
}

#formEl {
    display: flex;
}

.is-halfheight {
    margin-bottom: 24px;
}

#mapContainer {
    position: absolute;
    width: 45%;
    height: 50%;
    margin-left: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-bottom-left {
   top: 0%; 
}

#userPlaceList {
    width: 50%;
    margin-right: 0%;
    margin-left: 49.5%;
}

#favoritesInputForm {
    display: contents;
}

footer {
    padding: 1.5rem;
    margin-bottom: 1%;
}